notebooks/
plots/
*.pyc
__pycache__/*
*.slurm
errs/
outs/

# Ignore pip package build artifacts
build/
dist/
*.egg-info/

# LaTeX intermediate and output files
*.aux
*.bbl
*.blg
*.brf
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.fls
*.fdb_latexmk

# SyncTeX files
*.synctex.gz
*.synctex(busy)

# PDF files
*.pdf

# Temporary files
*.tmp
*.bak
*.backup
*.dvi
*.ps

# Editor backup files
*~
*.swp
*.swo