# Ignore build artifacts
build/
dist/
*.egg-info/

#VS Code
.DS_Store

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore Jupyter notebooks and plots
notebooks/
plots/

# Ignore figures
figures/__pycache__/
figures/*.pyc

# Ignore job-related cache and compiled files
jobs/**/__pycache__/
jobs/**/*.pyc

# Ignore makeplots-related cache and compiled files
makeplots/**/__pycache__/
makeplots/**/*.pyc

# Ignore paper-related files
paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.log
paper/*.out
paper/*.pdf

# Ignore temporary files
*.tmp
*.swp
*.swo
*~
*.png
*.mp4
*.err
*.out

# other versions of the paper
*main_paola_raw.tex
*main_salvatore_PDM.tex